PORT=5000
MONGODB_URI=mongodb://localhost:27017/quantum-backend
NODE_ENV=development
JWT_SECRET=tu_clave_secreta_muy_segura_cambiar_en_produccion
JWT_EXPIRES_IN=24h
ADMIN_EMAIL=admin@quantum.com
ADMIN_PASSWORD=Admin123!
OPERATOR_EMAIL=operador@quantum.com
OPERATOR_PASSWORD=Operador123!
